apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "1"
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"name":"laravel","namespace":"default"},"spec":{"replicas":1,"selector":{"matchLabels":{"app":"laravel"}},"template":{"metadata":{"labels":{"app":"laravel"}},"spec":{"containers":[{"envFrom":[{"configMapRef":{"name":"laravel-config"}},{"secretRef":{"name":"laravel-secret"}}],"image":"devops-laravel:latest","imagePullPolicy":"IfNotPresent","name":"laravel","ports":[{"containerPort":80}]}],"securityContext":{"runAsUser":0}}}}}
  creationTimestamp: "2026-01-17T06:35:57Z"
  generation: 1
  name: laravel
  namespace: default
  resourceVersion: "6281"
  uid: 6f6c79d9-3687-4d9e-8c57-4f67b869a8fe
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: laravel
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: laravel
    spec:
      containers:
      - envFrom:
        - configMapRef:
            name: laravel-config
        - secretRef:
            name: laravel-secret
        image: devops-laravel:latest
        imagePullPolicy: IfNotPresent
        name: laravel
        ports:
        - containerPort: 80
          protocol: TCP
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext:
        runAsUser: 0
      terminationGracePeriodSeconds: 30
status:
  availableReplicas: 1
  conditions:
  - lastTransitionTime: "2026-01-17T06:35:57Z"
    lastUpdateTime: "2026-01-17T06:35:57Z"
    message: Deployment has minimum availability.
    reason: MinimumReplicasAvailable
    status: "True"
    type: Available
  - lastTransitionTime: "2026-01-17T06:35:57Z"
    lastUpdateTime: "2026-01-17T06:35:57Z"
    message: ReplicaSet "laravel-7875c5f675" has successfully progressed.
    reason: NewReplicaSetAvailable
    status: "True"
    type: Progressing
  observedGeneration: 1
  readyReplicas: 1
  replicas: 1
  updatedReplicas: 1
