apiVersion: apps/v1
kind: Deployment
metadata:
  name: laravel
spec:
  replicas: 1
  selector:
    matchLabels:
      app: laravel
  template:
    metadata:
      labels:
        app: laravel
    spec:
      securityContext:
        runAsUser: 0
      containers:
        - name: laravel
          image: devops-laravel:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
          envFrom:
            - configMapRef:
                name: laravel-config
            - secretRef:
                name: laravel-secret
          command: ["/bin/sh", "-c"]
          args:
            - |
              echo "Waiting for MySQL..."
              until nc -z mysql 3306; do sleep 2; done

              php artisan migrate --force
              php artisan db:seed --force
