name: CI/CD - Docker Hub & Kubernetes

on:
  push:
    branches: [k8s]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: 221110019/devops-laravel:latest

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: helm/kind-action@v1
      - name: Pull image
        run: docker pull 221110019/devops-laravel:latest
      - name: Load image
        run: kind load docker-image 221110019/devops-laravel:latest
      - name: Deploy
        run: |
          kubectl apply -f kubernetes/
          kubectl set image deployment/laravel-deployment laravel=221110019/devops-laravel:latest
          kubectl rollout status deployment/laravel-deployment --timeout=120s
