name: CI/CD - Build, Push, and Deploy to Minikube

on:
  push:
    branches: [master]

jobs:
  build-and-push:
    runs-on: self-hosted
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push image
        run: |
          DOCKER_BUILDKIT=0 docker build -t 221110019/devops-laravel:latest .
          docker push 221110019/devops-laravel:latest

      - name: Clean old Docker images
        run: docker image prune -af || true

  deploy:
    needs: build-and-push
    runs-on: self-hosted
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Ensure kubectl & Minikube
        run: |
          minikube status
          kubectl version --client

      - name: Deploy to Minikube
        run: |
          kubectl set image deployment/laravel laravel=221110019/devops-laravel:latest
          kubectl rollout status deployment/laravel
